body {
  background: #000100;
  font-size: 24px;
  font-family: Space Grotesk-Medium, Space Grotesk;
  font-weight: 500;
  color: #ffffff;
  line-height: 40px;
}
.w {
  width: 1280px;
  margin: 0 auto;
}
.header {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 999;
}
a {
  text-decoration: none;
  /* 去除默认的下划线 */
}
.socials {
  width: 40px;
  height: 40px;
  background: url(/img/socials.png) no-repeat;
  cursor: pointer;
}
.socials:hover {
  background: url(/img/socials-1.png) no-repeat;
}
.socials-2 {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  background: url(/img/socials-2.png) no-repeat;
  cursor: pointer;
}
.socials-2:hover {
  background: url(/img/socials-3.png) no-repeat;
}
.ic-b-form-btn {
  display: block;
  width: 72px;
  height: 60px;
  background: url(/img/Frame2.png) no-repeat;
  cursor: pointer;
}
.ic-b-form-btn:hover {
  background: url(/img/Frame3.png) no-repeat;
}
.c-text-detail {
  color: #14f195;
}
.header-wrapper {
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #4a4a4e;
  border-radius: 24px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 30px 0 32px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: url(/img/logo_bg.png) no-repeat #232325;
}
.header-wrapper .left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 100%;
}
.header-wrapper .left .logo {
  width: 163px;
  height: 42px;
}
.header-wrapper .menu {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 48px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-wrapper .menu .menu-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  font-family: "Inter";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #ffffff;
  cursor: pointer;
}
.header-wrapper .menu .menu-item a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  font-family: "Inter";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-right: 44px;
  cursor: pointer;
}
.header-wrapper .menu .menu-item a:hover {
  color: #14f195;
}
.header-wrapper .menu .menu-item a.active {
  position: relative;
}
.header-wrapper .menu .menu-item a.active::after {
  content: "";
  display: block;
  width: 72px;
  height: 3px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  background: #14f195;
}
.header-wrapper .menu .menu-item.active {
  position: relative;
}
.header-wrapper .menu .menu-item.active::after {
  content: "";
  display: block;
  width: 72px;
  height: 3px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  background: #14f195;
}
.header-wrapper .right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.banner-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background: url(/img/ic-b-bg1.png) no-repeat 430px -30px;
  margin-top: 140px;
}
.banner-wrapper .b-left {
  padding-top: 122px;
}
.banner-wrapper .b-left .title {
  font-family: "Acumin Pro ExtraCondensed";
  font-style: normal;
  font-weight: 900;
  font-size: 116px;
  line-height: 139px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.banner-wrapper .b-left .text {
  margin-top: 40px;
  padding-left: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  position: relative;
}
.banner-wrapper .b-left .text::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 1px;
  height: 89px;
  background: #ffffff;
  opacity: 0.3;
}
.banner-wrapper .b-left .form {
  position: relative;
  z-index: 99;
  margin-top: 110px;
}
.banner-wrapper .b-left .form .f-tetle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 24px;
}
.banner-wrapper .b-left .form .input-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  margin-bottom: 16px;
}
.banner-wrapper .b-left .form .input-item .f-input {
  background: #000000;
  border: 1px solid #343543;
  border-radius: 20px;
  padding-left: 24px;
  width: 442px;
  height: 100%;
  margin-right: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #6d7083;
}
.banner-wrapper .b-left .form .input-item .f-btn {
  cursor: pointer;
}
.banner-wrapper .b-left .b-img {
  padding: 96px 0 0 300px;
}
.banner-wrapper .b-right {
  position: relative;
}
.banner-wrapper .b-right .ic-b-bg3 {
  position: absolute;
  right: 0;
  top: 0;
}
.banner-wrapper .b-right .ic-b-bg2 {
  position: absolute;
  right: -70px;
  top: 60px;
}
.banner-wrapper .b-right .ic-b-bg4 {
  position: absolute;
  left: -70px;
  top: 635px;
}
.coming-wrapper {
  background: url(/img/ic-c-bg.png) no-repeat;
  border: 1px solid #4a4a4e;
  border-radius: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.coming-wrapper .c-left {
  padding: 80px 0 0 108px;
}
.coming-wrapper .c-left .top {
  margin-bottom: 24px;
  font-family: "Acumin Pro ExtraCondensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  letter-spacing: 0.8em;
  text-transform: uppercase;
  color: #ffffff;
}
.coming-wrapper .c-left .c-text {
  width: 837px;
  margin-bottom: 56px;
  font-family: "Acumin Pro ExtraCondensed";
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 96px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #ffffff;
}
.coming-wrapper .c-left .c-text .c-text-detail {
  color: #14f195;
}
.coming-wrapper .c-left .c-btn {
  width: 178px;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  background: #14f195;
  border-radius: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  cursor: pointer;
}
.coming-wrapper .c-left .c-btn:hover {
  background: #10c57a;
  color: #000000;
}
.coming-wrapper .c-right {
  overflow: hidden;
}
.join-wrapper {
  padding-top: 240px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 146px;
}
.join-wrapper .j-left {
  position: relative;
}
.join-wrapper .j-left .co-item {
  display: block;
  width: 400px;
  height: 153px;
}
.join-wrapper .j-left .co-item2 {
  position: absolute;
  top: 128px;
  left: 180px;
}
.join-wrapper .j-left .co-item3 {
  position: absolute;
  top: 250px;
  left: 0;
}
.join-wrapper .j-left .co-item4 {
  position: absolute;
  top: 380px;
  left: 110px;
}
.join-wrapper .j-right {
  padding-top: 76px;
}
.join-wrapper .j-right .j-title {
  font-family: "Acumin Pro ExtraCondensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  letter-spacing: 0.8em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 16px;
}
.join-wrapper .j-right .j-r-top {
  font-family: "Acumin Pro ExtraCondensed";
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 96px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #ffffff;
}
.join-wrapper .j-right .j-text {
  width: 605px;
  margin: 26px 0 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  position: relative;
  padding-left: 24px;
}
.join-wrapper .j-right .j-text::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 1px;
  height: 70px;
  background: #ffffff;
  opacity: 0.3;
}
.join-wrapper .j-right .btn-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.join-wrapper .j-right .btn-list .ic-btn-1 {
  margin-right: 16px;
}
.join-wrapper .j-right .btn-list .btn {
  cursor: pointer;
  width: 140px;
  height: 60px;
  background: #14f195;
  border-radius: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  order: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.join-wrapper .j-right .btn-list .btn:hover {
  background: #10c57a;
  color: #000000;
}
.join-wrapper .j-right .btn-list .btn img {
  margin-right: 18px;
}
.join-wrapper .j-right .btn-list .btn .ic-text {
  color: #000000;
}
.the-going {
  padding-top: 200px;
}
.the-going .the-going-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.the-going .the-going-wrapper .t-top-wrapper {
  width: 100%;
}
.the-going .the-going-wrapper .t-top {
  width: 400px;
}
.the-going .the-going-wrapper .t-top .t-top-img {
  font-family: "Acumin Pro ExtraCondensed";
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 96px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #ffffff;
}
.the-going .the-going-wrapper .t-top .t-top-text {
  margin-top: 24px;
  position: relative;
  padding-left: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.the-going .the-going-wrapper .t-top .t-top-text::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 1px;
  height: 100%;
  background: #ffffff;
  opacity: 0.3;
}
.the-going .the-going-wrapper .t-main {
  margin-top: 280px;
  position: relative;
  width: 743px;
}
.the-going .the-going-wrapper .t-main .t-main-bg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.the-going .the-going-wrapper .t-main .ic-the {
  opacity: 0;
}
.the-going .the-going-wrapper .t-main .ic-the-1 {
  position: absolute;
  top: -197px;
  left: 0;
  display: flex;
  flex-direction: column;
}
.the-going .the-going-wrapper .t-main .ic-the-1 .ic-the-img {
  margin-bottom: 48px;
}
.the-going .the-going-wrapper .t-main .ic-the-1 .ic-qi {
  width: 35px;
  height: 55px;
}
.the-going .the-going-wrapper .t-main .ic-the-2 {
  position: absolute;
  top: -197px;
  left: 455px;
  display: flex;
  flex-direction: column;
}
.the-going .the-going-wrapper .t-main .ic-the-2 .ic-the-img {
  margin-bottom: 20px;
}
.the-going .the-going-wrapper .t-main .ic-the-2 .ic-qi {
  width: 35px;
  height: 55px;
}
.the-going .the-going-wrapper .t-main .ic-the-3 {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: -194px;
  display: flex;
}
.the-going .the-going-wrapper .t-main .ic-the-3 .ic-the-img {
  margin-left: 30px;
}
.the-going .the-going-wrapper .t-main .ic-the-3 .ic-qi {
  width: 35px;
  height: 55px;
}
.the-going .the-going-wrapper .t-main .ic-the-4 {
  position: absolute;
  bottom: -162px;
  right: -64px;
  display: flex;
  flex-direction: column;
}
.the-going .the-going-wrapper .t-main .ic-the-4 .ic-the-img {
  margin-top: 62px;
}
.the-going .the-going-wrapper .t-main .ic-the-4 .ic-qi {
  width: 35px;
  height: 55px;
}
.the-going .the-going-wrapper .t-main .ic-the-5 {
  position: absolute;
  bottom: -136px;
  left: 206px;
  display: flex;
  flex-direction: column;
}
.the-going .the-going-wrapper .t-main .ic-the-5 .ic-the-img {
  margin-top: 62px;
}
.the-going .the-going-wrapper .t-main .ic-the-5 .ic-qi {
  width: 35px;
  height: 55px;
}
.the-going .the-going-wrapper .t-main .ic-the-6 {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: -214px;
  display: flex;
}
.the-going .the-going-wrapper .t-main .ic-the-6 .ic-the-img {
  margin-right: 60px;
}
.the-going .the-going-wrapper .t-main .ic-the-6 .ic-qi {
  width: 35px;
  height: 55px;
}
.the-going .the-going-wrapper .t-main .ic-the-7 {
  position: absolute;
  top: -76px;
  right: -136px;
}
.the-going .the-going-wrapper .t-main .ic-arrow1 {
  position: absolute;
  top: -50px;
  left: 182px;
}
.the-going .the-going-wrapper .t-main .ic-arrow2 {
  position: absolute;
  bottom: -34px;
  left: 378px;
}
.questions-warpper {
  padding-top: 403px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.questions-warpper .left {
  font-family: "Acumin Pro ExtraCondensed";
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 60px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  vertical-align: middle;
  color: #ffffff;
}
.questions-warpper .right {
  width: 620px;
}
.questions-warpper .right .question-item-icon {
  background: url(/img/ic-triangle2.png) no-repeat;
  width: 14px;
  height: 9px;
}
.questions-warpper .right .question-icon-active {
  background: url(/img/ic-triangle.png) no-repeat;
}
.questions-warpper .right .question-item {
  width: 620px;
  background: #232423;
  border: 1px solid #545663;
  border-radius: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 16px;
  transition: all 0.3s;
  overflow: hidden;
  height: 72px;
  box-sizing: border-box;
}
.questions-warpper .right .question-item:hover {
  background: #545663;
}
.questions-warpper .right .question-item .question-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding: 0 24px;
  cursor: pointer;
}
.questions-warpper .right .question-item .question-item-title-text {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.questions-warpper .right .question-item .question-item-main {
  padding: 24px;
}
.questions-warpper .right .question-item a {
  color: #ffffff;
}
.questions-warpper .right .question-item.question-item-active {
  background: #14f195;
  color: #000000;
}
.questions-warpper .right .question-item.question-item-active a {
  color: #000000;
}
.questions-warpper .right .question-item.question-item-active .question-item-title .question-item-title-text {
  position: relative;
  width: 100%;
  height: 100%;
}
.questions-warpper .right .question-item.question-item-active .question-item-title .question-item-title-text::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background: #000000;
}
.contact-wrapper {
  margin-top: 240px;
  background: #14f195;
  border-radius: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  height: 292px;
}
.contact-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 212px;
  left: 50%;
  top: 40px;
  opacity: 0.3;
  border-left: 1px solid #000000;
}
.contact-wrapper .con-left {
  padding: 52px 42px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-wrapper .con-left .con-left-img {
  margin-bottom: 40px;
  height: 84px;
  font-family: "Acumin Pro ExtraCondensed";
  font-style: normal;
  font-weight: 900;
  font-size: 120px;
  line-height: 144px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #000000;
}
.contact-wrapper .con-left .con-left-img img {
  width: 100%;
  height: 100%;
}
.contact-wrapper .con-left .con-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  /* WebKit browsers */
  /* Mozilla Firefox 4 to 18 */
  /* Mozilla Firefox 19+ */
  /* Internet Explorer 10+ */
}
.contact-wrapper .con-left .con-form .con-form-input {
  background: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  padding-left: 28px;
  width: 360px;
  height: 60px;
  margin-right: 8px;
}
.contact-wrapper .con-left .con-form input::input-placeholder {
  color: #000000;
}
.contact-wrapper .con-left .con-form .con-form-btn {
  width: 401px;
  height: 52px;
  box-sizing: border-box;
  text-align: center;
  line-height: 52px;
  cursor: pointer;
  display: block;
  gap: 10px;
  background: #000000;
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #14f195;
}
.contact-wrapper .con-left .con-form ::-webkit-input-placeholder {
  color: #000000;
}
.contact-wrapper .con-left .con-form :-moz-placeholder {
  color: #000000;
  opacity: 1;
}
.contact-wrapper .con-left .con-form ::-moz-placeholder {
  color: #000000;
  opacity: 1;
}
.contact-wrapper .con-left .con-form :-ms-input-placeholder {
  color: #000000;
}
.contact-wrapper .con-right {
  padding: 40px;
  padding-right: 286px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: url(/img/ic-contact-5.png) no-repeat right;
}
.contact-wrapper .con-right .b-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.contact-wrapper .con-right .b-item:hover .ic-text {
  color: #19542e;
}
.contact-wrapper .con-right .b-item:hover .ic-contact-1 {
  background: url(/img/ic-contact-1-hover.png) no-repeat;
}
.contact-wrapper .con-right .b-item:hover .ic-contact-2 {
  background: url(/img/ic-contact-4-hover.png) no-repeat;
}
.contact-wrapper .con-right .b-item .ic-text {
  margin-left: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.contact-wrapper .con-right .ic-contact-1 {
  width: 80px;
  height: 80px;
  background: url(/img/ic-contact-1.png) no-repeat;
}
.contact-wrapper .con-right .ic-contact-2 {
  width: 80px;
  height: 80px;
  background: url(/img/ic-contact-2.png) no-repeat;
}
.bottom-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 180px;
  padding-bottom: 118px;
}
.bottom-wrapper .bottom-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.bottom-wrapper .bottom-main .bottom-list2 {
  margin-left: 142px;
}
.bottom-wrapper .bottom-main .bottom-item {
  margin-bottom: 16px;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.45;
}
.bottom-wrapper .bottom-main .bottom-item a {
  color: #ffffff;
}
.bottom-wrapper .bottom-main .bottom-item:hover {
  opacity: 1;
}
.bottom-wrapper .bottom-main .socials-img {
  margin-left: 125px;
  display: flex;
}
.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.45;
  padding: 30px 0;
  border-top: 1px solid #423e50;
}
.footer-wrapper .f-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-wrapper .f-right .text {
  margin-left: 32px;
  color: #ffffff;
}
/* 在小于1200像素的屏幕里,这里的样式才生效 */
/* 在小于991像素之间的屏幕里,这里的样式才生效 */
/* 在小于768像素的屏幕里,这里的样式才生效 */
/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
