@font-face {
  font-family: "Space Grotesk";
  src: url("/css/font/SpaceGrotesk-VariableFont_wght.eot");
  src: url("/css/font/SpaceGrotesk-VariableFont_wght.woff") format("woff"),
    url("/css/font/SpaceGrotesk-VariableFont_wght.ttf") format("truetype"),
    url("/css/font/SpaceGrotesk-VariableFont_wght.svg") format("svg");
}

body {
  background: #101120;
  font-size: 24px;
  font-family: Space Grotesk-Medium, Space Grotesk;
  font-weight: 500;
  color: #ffffff;
  line-height: 40px;
}

.logo-wrapper {
  .logo {
    width: 152px;
    height: 36px;
    background: url("/img/logo.png") no-repeat center / 100%;
  }
}
.top {
  padding-top: 108px;
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    // background: #101120;
    background: rgba(9, 5, 17, 0.6);
    // opacity: 0.6;
    // box-shadow: 0 5px 5px rgb(0 0 0 / 10%);
    height: 108px;
    .nav-wrapper {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .menu-wrapper {
      display: flex;

      .menu-item {
        padding-left: 64px;
        a {
          text-decoration: none;
          display: block;
          height: 26px;
          font-size: 18px;
          font-family: Space Grotesk-Medium, Space Grotesk;
          font-weight: 500;
          color: #ffffff;
          line-height: 26px;
        }
      }
    }
  }
  .banner {
    position: relative;
    vertical-align: top;
    .bg-img {
      width: 100%;
      position: relative;
      top: -108px;
      left: 0;
      height: 100%;
      vertical-align: top;
    }
    .wrapper {
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;
      right: 0;
      z-index: 99;
      padding-top: 140px;
      box-sizing: border-box;
    }
    .banner-top {
      margin-bottom: 24px;
      height: 160px;
      font-size: 72px;
      font-family: Space Grotesk-Bold, Space Grotesk;
      font-weight: bold;
      color: #ffffff;
      line-height: 80px;
    }
    .banner-info {
      width: 618px;
      font-size: 18px;
      font-family: Space Grotesk-Regular, Space Grotesk;
      font-weight: 400;
      color: #ffffff;
      line-height: 26px;
      margin-bottom: 140px;
    }
    .banner-btn {
      display: flex;

      .banner-btn__left {
        cursor: pointer;
        width: 200px;
        height: 56px;
        text-align: center;
        line-height: 56px;
        position: relative;
        background: linear-gradient(121deg, #b721ff 0%, #21d4fd 100%);
        .bg {
          transition: all 0.5s;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background: url("/img/pic_shadow.png") no-repeat left / 50%;
        }
        .text {
          font-family: Space Grotesk;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 56px;
        }
        &:hover {
          .bg {
            width: 160%;
          }
        }
      }
      .banner-btn__right {
        position: relative;
        width: 56px;
        height: 56px;
        background: #ffffff;
        border-radius: 0px 0px 0px 0px;
        opacity: 1;
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-4px, -50%);
          width: 0;
          height: 0;
          border-width: 8px 8px;
          border-style: solid;
          border-color: transparent transparent transparent #000000;
        }
      }
    }
  }
}

.main {
  position: relative;
  height: auto;
  .item {
    background: #101120;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100%;
    background: #101120;
    .item-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .title {
      font-size: 72px;
      font-family: Space Grotesk-Bold, Space Grotesk;
      font-weight: bold;
      color: #ffffff;
      line-height: 80px;
    }

    .info-container {
      display: flex;
      .info-container__img {
        width: 480px;
        height: 480px;
      }
      .info-container__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 32px;
        font-family: Space Grotesk-Bold, Space Grotesk;
        font-weight: bold;
        color: #ffffff;
        line-height: 40px;
        .text-list {
          margin-top: 24px;
          .list-item {
            padding-left: 24px;
            font-size: 18px;
            font-family: Space Grotesk-Regular, Space Grotesk;
            color: #ffffff;
            line-height: 26px;
            position: relative;
            font-style: normal;
            font-weight: normal;
            &::after {
              display: block;
              content: "";
              width: 8px;
              height: 4px;
              background: #b721ff;
              border-radius: 0px 0px 0px 0px;
              opacity: 1;
              position: absolute;
              left: 10px;
              top: 12px;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }
  .item1 {
    .info-container__img {
      background: url("../img/pic_main__1.png");
    }
  }
  .item2 {
    .info-container__img {
      background: url("../img/pic_main__2.png");
    }
  }
  .item3 {
    .info-container__img {
      background: url("../img/pic_main__3.png");
    }
  }
}

.guilds {
  background: #10111f;
  padding: 160px 20px 0;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .guilds-header {
    height: 160px;
    font-size: 72px;
    font-family: Space Grotesk-Bold, Space Grotesk;
    font-weight: bold;
    color: #ffffff;
    line-height: 80px;
    text-align: center;
    margin-bottom: 24px;
  }
  .guilds-info {
    width: 801px;
    height: 78px;
    font-size: 18px;
    font-family: Space Grotesk-Regular, Space Grotesk;
    font-weight: 400;
    color: #ffffff;
    line-height: 26px;
    text-align: center;
    margin-bottom: 140px;
  }
  .guilds-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .box-item__wrapper {
      flex: 1;
      padding: 0 0;
      &:nth-child(2) {
        padding: 0 48px;
      }
    }
    .box-item {
      flex: 1;
      background: linear-gradient(180deg, #1a1a2d 0%, rgba(26, 26, 45, 0) 100%);
      &:nth-child(1) .bg {
        background: url("/img/pic_num_bg__1.png") no-repeat center top;
      }
      &:nth-child(2) .bg {
        background: url("/img/pic_num_bg__2.png") no-repeat center top;
      }
      &:nth-child(3) .bg {
        background: url("/img/pic_num_bg__3.png") no-repeat center top;
      }
      .bg {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: auto;
        height: 203px;
        background: url("/img/pic_num_bg__1.png") no-repeat center top;
        .img {
          position: absolute;
          top: -50%;
          transform: translate(0, 50%);
          width: 90px;
          height: 104px;
        }
        .img1 {
          background: url("../img/pic_num__1.png") no-repeat center / 100%;
        }
        .img2 {
          background: url("../img/pic_num__2.png") no-repeat center / 100%;
        }
        .img3 {
          background: url("../img/pic_num__3.png") no-repeat center / 100%;
        }
        .num {
          height: 44px;
          font-size: 36px;
          font-family: Space Grotesk-Bold, Space Grotesk;
          font-weight: bold;
          color: #ffffff;
          line-height: 44px;
        }
        .text {
          height: 26px;
          font-size: 18px;
          font-family: Space Grotesk-Medium, Space Grotesk;
          font-weight: 500;
          color: #ffffff;
          line-height: 26px;
        }
      }
    }
  }
}

.roadmap {
  background: #101120;
  color: #ffffff;
  .roadmap-wrapper {
    padding-top: 236px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .roadmap-header {
    margin-bottom: 72px;
    font-size: 72px;
    line-height: 80px;
    font-family: Space Grotesk-Bold, Space Grotesk;
    font-weight: bold;
  }
  .roadmap-main {
    display: flex;
    justify-content: center;
    .phase-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .phase-item {
        margin-bottom: 40px;
        width: 580px;
        height: 160px;
        display: flex;
        background: linear-gradient(
          94deg,
          #1a1c33 0%,
          rgba(26, 28, 51, 0) 100%
        );

        &:nth-child(2n) {
          margin-left: 40px;
        }

        .left {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding: 20px 0 46px 0;
          width: 100px;
          height: 160px;
          box-sizing: border-box;
          background: #292b43;
          border-radius: 0px 0px 0px 0px;
          opacity: 1;
          background: url("/img/pic_phase-item__bg.png");
          .title {
            font-size: 14px;
            font-family: Space Grotesk-SemiBold, Space Grotesk;
            font-weight: 600;
            color: #ffffff;
            line-height: 22px;
          }
          .num {
            font-size: 48px;
            font-family: Space Grotesk-Bold, Space Grotesk;
            font-weight: bold;
            color: #ffffff;
            line-height: 56px;
          }
        }
        .right {
          display: flex;
          align-items: center;
          flex: 1;
          padding: 0 24px;
          font-size: 20px;
          line-height: 28px;
          font-family: Space Grotesk;
          font-style: normal;
          font-weight: normal;
          color: #ffffff;
        }
      }
    }
  }
}

.teams {
  .teams-wrapper {
    background: url("/img/pic_teams__bg.png") no-repeat center center / 100%
      100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 160px 0;
    .header {
      font-size: 72px;
      font-family: Space Mono-Bold, Space Mono;
      font-weight: bold;
      color: #ffffff;
      line-height: 80px;
      margin-bottom: 72px;
    }
    .teams-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      .teams-item {
        width: 290px;
        font-size: 16px;
        font-family: Space Grotesk-Regular, Space Grotesk;
        font-weight: 400;
        color: #9c9ca3;
        line-height: 24px;
        margin-right: 110px;
        display: flex;
        flex-direction: column;
        margin-bottom: 36px;
        // &:nth-child(3n) {
        //   margin-right: 110px;
        // }
        .teams-item__img {
          width: 92px;
          height: 92px;
          // box-sizing: border-box;
          // padding: 2px;
          // border-radius: 50%;
          // background-image: -webkit-linear-gradient(
          //   top,
          //   rgba(183.00000429153442, 33.00000183284283, 255, 1),
          //   rgba(32.99999803304672, 211.9999873638153, 253.0000001192093, 1)
          // );
          // background-image: -moz-linear-gradient(
          //   top,
          //   rgba(183.00000429153442, 33.00000183284283, 255, 1),
          //   rgba(32.99999803304672, 211.9999873638153, 253.0000001192093, 1)
          // );
          // background-image: linear-gradient(
          //   top,
          //   rgba(183.00000429153442, 33.00000183284283, 255, 1),
          //   rgba(32.99999803304672, 211.9999873638153, 253.0000001192093, 1)
          // );

          // &::after {
          //   content: "";
          //   display: block;
          //   width: 100%;
          //   height: 100%;
          //   border-radius: 50%;
          //   background: #fff;
          // }
        }

        .teams-item__name {
          margin: 16px 0 8px;
          font-size: 24px;
          font-family: Space Grotesk-SemiBold, Space Grotesk;
          font-weight: 600;
          color: #d4d4de;
          line-height: 32px;
        }
        .teams-item__info {
        }
      }
      .teams-item:nth-child(1) {
        .teams-item__img {
          background: url("../img/pic_team__1.png");
        }
      }
      .teams-item:nth-child(2) {
        .teams-item__img {
          background: url("../img/pic_team__2.png");
        }
      }
      .teams-item:nth-child(3) {
        .teams-item__img {
          background: url("../img/pic_team__3.png");
        }
      }
      .teams-item:nth-child(4) {
        .teams-item__img {
          background: url("../img/pic_team__4.png");
        }
      }
      .teams-item:nth-child(5) {
        .teams-item__img {
          background: url("../img/pic_team__5.png");
        }
      }
      .teams-item:nth-child(6) {
        .teams-item__img {
          background: url("../img/pic_team__6.png");
        }
      }
    }
  }
}

.partner {
  .partner-wrapper {
    padding: 160px 0 0;

    .partner-title {
      text-align: center;
      font-size: 72px;
      font-family: Space Grotesk-Bold, Space Grotesk;
      font-weight: bold;
      color: #ffffff;
      line-height: 80px;
      margin-bottom: 100px;
    }
    .partner-header {
      display: flex;
      margin-bottom: 50px;
      justify-content: center;
      .left-img {
        width: 136px;
        height: 136px;
        border-radius: 12px 12px 12px 12px;
        background: url("../img/pic_lita.png") no-repeat center / 100% 100%;
      }
      .right {
        flex: 1;
        max-width: 400px;
        padding: 0 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .lita {
          font-size: 48px;
          font-family: Space Grotesk-Bold, Space Grotesk;
          font-weight: bold;
          color: #ffffff;
          line-height: 56px;
        }
        .lita-info {
          font-size: 24px;
          font-family: Space Grotesk-Regular, Space Grotesk;
          line-height: 32px;
        }
      }
    }
    .partner-list {
      .partner-item {
        position: relative;
        display: flex;
        align-items: center;
        width: auto;
        padding: 60px 120px;
        margin-bottom: 8px;
        background: linear-gradient(
          85deg,
          rgba(26, 28, 51, 0.5400000214576721) 0%,
          rgba(26, 28, 51, 0) 100%
        );
        &:nth-child(2) .left {
          width: 240px;
          height: 200px;
          background: url("../img/ic_p_bg__2.png") no-repeat center / 100% 100%;
        }
        &:nth-child(3) .left {
          width: 242px;
          height: 181px;
          background: url("../img/ic_p_bg__3.png") no-repeat center / 100% 100%;
        }
        .left {
          width: 240px;
          height: 200px;
          background: url("../img/ic_p_bg__1.png") no-repeat center / 100% 100%;
          margin-right: 144px;
          display: flex;
          align-items: center;
          justify-content: center;
          .ic_p_text__1 {
            position: absolute;
            top: 40px;
            left: 40px;
          }
        }
        .right-list {
          .item {
            font-size: 18px;
            font-family: Space Grotesk-Regular, Space Grotesk;
            font-weight: 400;
            color: #ffffff;
            line-height: 30px;
            position: relative;
            &::after {
              content: "";
              display: block;
              width: 8px;
              height: 4px;
              background: #b721ff;
              border-radius: 0px 0px 0px 0px;
              position: absolute;
              top: 12px;
              left: -24px;
              transform: translate(-50%, 0);
            }
          }
        }
      }
    }
  }
}

.bottom {
  width: 100%;
  height: 520px;
  background: #101120;
  background: url("../img/pic_footer.png") no-repeat bottom right;

  .bottom-wrapper {
    height: 100%;
    .bottom-main {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo-wrapper {
        margin-bottom: 12px;
      }
      .left {
        .title {
          font-size: 48px;
          font-family: Space Grotesk-Bold, Space Grotesk;
          font-weight: bold;
          line-height: 56px;
          background: linear-gradient(121deg, #b721ff 0%, #21d4fd 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .text {
          font-size: 14px;
          font-family: Space Grotesk-Medium, Space Grotesk;
          font-weight: 500;
          color: #c3c8d7;
          line-height: 22px;
        }
      }
      .right {
        display: flex;

        // .test {
        //   position: relative;
        //   width: 56px;
        //   height: 56px;
        //   background: url("/img/pic_f__1.png");

        // }
        // .test:after {
        //   content: "";
        //   position: absolute;
        //   left: 0;
        //   right: 0;
        //   top: 0;
        //   bottom: 0;
        //   background: url("/img/pic_f_hover__1.png");
        //   opacity: 0;
        //   transition: 0.5s;
        // }
        // .test:hover:after {
        //   opacity: 1;
        // }

        .item {
          cursor: pointer;
          margin-left: 16px;
          width: 56px;
          height: 56px;
          transition: background-position 5s;

          position: relative;

          &:nth-child(1) {
            background: url("/img/pic_f__1.png") no-repeat center / 100% 100%;
            &:after {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              background: url("/img/pic_f_hover__1.png") no-repeat center / 100%
                100%;
              opacity: 0;
              transition: 1s;
            }
            &:hover:after {
              opacity: 1;
            }
          }
          &:nth-child(2) {
            background: url("/img/pic_f__2.png") no-repeat center / 100% 100%;

            &:after {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              background: url("/img/pic_f_hover__2.png") no-repeat center / 100%
                100%;
              opacity: 0;
              transition: 1s;
            }
            &:hover:after {
              opacity: 1;
            }
          }
          &:nth-child(3) {
            background: url("/img/pic_f__3.png") no-repeat center / 100% 100%;
            &:after {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              background: url("/img/pic_f_hover__3.png") no-repeat center / 100%
                100%;
              opacity: 0;
              transition: 1s;
            }
            &:hover:after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.main-scrolling-wrapper {
  display: block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-horiztonal-scrolling-container {
  position: relative;
  height: 5000px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.sticky-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  will-change: transform;
  transform: translate3d(0px, 0px, 0px);
  transform: scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.sticky-container.horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100vh;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.sticky-container.horizontal {
  overflow: hidden;
}
.flex-horizontal {
  display: flex;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
}
.wrapper {
  max-width: 1366px;
  margin: 0 auto;
}

/* 在小于1200像素的屏幕里,这里的样式才生效 */
@media only screen and (max-width: 1200px) {
  .top {
    .nav {
      .nav-wrapper {
        padding: 0 20px;
        .menu-item {
          padding-left: 20px;
        }
      }
    }
    .banner {
      .bg-img {
        top: -50px;
      }
      .wrapper {
        padding: 30px 20px 0;
      }
    }
  }

  .main {
    .info-container__text {
      flex: 1;
    }
  }
  .guilds {
    background: #10111f;
    width: 100vw;
    overflow: hidden;
    padding: 160px 20px 0;
    box-sizing: border-box;
    .wrapper {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .guilds-header {
      height: auto;
      font-size: 24px;
      font-family: Space Grotesk-Bold, Space Grotesk;
      font-weight: bold;
      color: #ffffff;
      line-height: 34px;
      text-align: center;
      margin-bottom: 12px;
    }
    .guilds-info {
      width: auto;
      height: auto;
      font-size: 12px;
      font-family: Space Grotesk-Regular, Space Grotesk;
      font-weight: 400;
      color: #ffffff;
      line-height: 24px;
      text-align: center;
      margin-bottom: 80px;
    }
    .guilds-bottom {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .box-item__wrapper {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 30px;
      }
      .box-item {
        width: 100%;
        background: linear-gradient(
          180deg,
          #1a1a2d 0%,
          rgba(26, 26, 45, 0) 100%
        );
        &:nth-child(1) .bg {
          background: url("/img/pic_num_bg__1.png") no-repeat center top;
        }
        &:nth-child(2) .bg {
          background: url("/img/pic_num_bg__2.png") no-repeat center top;
        }
        &:nth-child(3) .bg {
          background: url("/img/pic_num_bg__3.png") no-repeat center top;
        }
        .bg {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          position: relative;
          width: 100%;
          height: 203px;
          background: url("/img/pic_num_bg__1.png") no-repeat center top;
          .img {
            position: absolute;
            top: -50%;
            transform: translate(0, 50%);
            width: 85px;
            height: 104px;
          }
          .img1 {
            background: url("../img/pic_num__1.png");
          }
          .img2 {
            background: url("../img/pic_num__2.png");
          }
          .img3 {
            background: url("../img/pic_num__3.png");
          }
          .num {
            height: 44px;
            font-size: 36px;
            font-family: Space Grotesk-Bold, Space Grotesk;
            font-weight: bold;
            color: #ffffff;
            line-height: 44px;
          }
          .text {
            height: 26px;
            font-size: 18px;
            font-family: Space Grotesk-Medium, Space Grotesk;
            font-weight: 500;
            color: #ffffff;
            line-height: 26px;
          }
        }
      }
    }
  }
  .roadmap {
    padding: 0 20px;
    .phase-list {
      justify-content: center !important;
      .phase-item {
        width: 100% !important;
      }
    }
  }

  .phase-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .phase-item {
      margin-bottom: 40px;
      width: 580px;
      height: 160px;
      display: flex;
      background: linear-gradient(94deg, #1a1c33 0%, rgba(26, 28, 51, 0) 100%);

      &:nth-child(2n) {
        margin-left: 0 !important;
      }

      .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0 46px 0;
        width: 100px;
        height: 160px;
        box-sizing: border-box;
        background: #292b43;
        border-radius: 0px 0px 0px 0px;
        opacity: 1;
        background: url("/img/pic_phase-item__bg.png");
        .title {
          font-size: 14px;
          font-family: Space Grotesk-SemiBold, Space Grotesk;
          font-weight: 600;
          color: #ffffff;
          line-height: 22px;
        }
        .num {
          font-size: 48px;
          font-family: Space Grotesk-Bold, Space Grotesk;
          font-weight: bold;
          color: #ffffff;
          line-height: 56px;
        }
      }
      .right {
        display: flex;
        align-items: center;
        flex: 1;
        padding: 0 24px;
        font-size: 24px;
        font-family: Space Grotesk-Medium, Space Grotesk;
        font-weight: 500;
        color: #ffffff;
        line-height: 32px;
      }
    }
  }

  .teams {
    .teams-wrapper {
      background: url("/img/pic_teams__bg.png") no-repeat center center / 100%
        100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 160px 20px;
      .header {
        font-size: 72px;
        font-family: Space Mono-Bold, Space Mono;
        font-weight: bold;
        color: #ffffff;
        line-height: 80px;
        margin-bottom: 72px;
      }
      .teams-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        .teams-item {
          width: 100%;
          font-size: 24px;
          font-family: Space Grotesk-Regular, Space Grotesk;
          font-weight: 400;
          color: #9c9ca3;
          line-height: 24px;
          margin-right: 112px;
          display: flex;
          flex-direction: column;
          margin-bottom: 36px;
          .teams-item__img {
            width: 92px;
            height: 92px;
          }

          .teams-item__name {
            margin: 16px 0 8px;
            font-size: 24px;
            font-family: Space Grotesk-SemiBold, Space Grotesk;
            font-weight: 600;
            color: #d4d4de;
            line-height: 32px;
          }
        }
        .teams-item:nth-child(1) {
          .teams-item__img {
            background: url("../img/pic_team__1.png");
          }
        }
        .teams-item:nth-child(2) {
          .teams-item__img {
            background: url("../img/pic_team__2.png");
          }
        }
        .teams-item:nth-child(3) {
          .teams-item__img {
            background: url("../img/pic_team__3.png");
          }
        }
        .teams-item:nth-child(4) {
          .teams-item__img {
            background: url("../img/pic_team__4.png");
          }
        }
        .teams-item:nth-child(5) {
          .teams-item__img {
            background: url("../img/pic_team__5.png");
          }
        }
        .teams-item:nth-child(6) {
          .teams-item__img {
            background: url("../img/pic_team__6.png");
          }
        }
      }
    }
  }

  .partner {
    padding: 0 20px;
  }

  .bottom {
    padding: 0 20px;
    box-sizing: border-box;
  }
}

/* 在小于991像素之间的屏幕里,这里的样式才生效 */
@media (max-width: 991px) {
}

/* 在小于768像素的屏幕里,这里的样式才生效 */
@media only screen and (max-width: 767px) {
  .wrapper {
    width: 100%;
    max-width: 100vw;
  }

  .logo-wrapper {
    .logo {
      width: 106px;
      height: 26px;
    }
  }
  .top {
    height: auto;
    padding-top: 50px;
    .nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      height: 50px;
      align-items: center;
      padding: 0 20px;
      box-sizing: border-box;

      .menu-wrapper {
        display: none;
      }
    }
    .banner {
      height: auto;
      box-sizing: border-box;
      .bg-img {
        top: -5px;
      }
      .wrapper {
        padding: 30px 20px 0;
      }
      .banner-top {
        margin-bottom: 32px;
        height: auto;
        font-size: 24px;
        line-height: 34px;
      }
      .banner-info {
        width: 100%;
        font-size: 12px;
        line-height: 22px;
        margin-bottom: 14px;
      }
      .banner-btn {
        display: flex;
        .banner-btn__left {
          position: relative;
          cursor: pointer;
          width: auto;
          height: 38px;
          text-align: center;
          background: linear-gradient(121deg, #b721ff 0%, #21d4fd 100%);
          .bg {
            padding: 8px;
            box-sizing: border-box;
            transition: all 0.5s;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: url("/img/pic_shadow.png") no-repeat left / 50% 100%;
          }
          .text {
            font-size: 16px;
            padding: 8px;
            box-sizing: border-box;
            height: 100%;
            display: flex;
            align-items: center;
          }
          &:hover {
            .bg {
              width: 160%;
            }
          }
        }
        .banner-btn__right {
          position: relative;
          width: 38px;
          height: 38px;
          line-height: 24px;
          padding: 8px;
          box-sizing: border-box;
          background: #ffffff;
          border-radius: 0px 0px 0px 0px;
          opacity: 1;
          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-4px, -50%);
            width: 0;
            height: 0;
            border-width: 4px 4px;
            border-style: solid;
            border-color: transparent transparent transparent #000000;
          }
        }
      }
    }
  }
  .sticky-container {
    height: auto;
    .flex-horizontal {
      height: 100%;
    }
    .horizontal {
      height: 100%;
    }
  }
  .main-horiztonal-scrolling-container {
    height: 3000px;
  }
  .sticky-container.horizontal {
    height: auto;
  }
  .main {
    position: relative;
    height: auto;
    .item {
      background: #101120;
      display: flex;
      align-items: center;
      width: 100vw;
      height: 70vh;
      padding: 50px 20px;
      box-sizing: border-box;
      .item-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .title {
        font-size: 24px;
        line-height: 24px;
        font-family: Space Grotesk-Bold, Space Grotesk;
        font-weight: bold;
        color: #ffffff;
      }

      .info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .info-container__img {
          width: 130px;
          height: 130px;
        }
        .info-container__text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 18px;
          font-family: Space Grotesk-Bold, Space Grotesk;
          font-weight: bold;
          color: #ffffff;
          line-height: 28px;
          .text-title {
            text-align: center;
          }
          .text-list {
            margin-top: 24px;
            .list-item {
              padding-left: 24px;
              font-size: 14px;
              font-family: Space Grotesk-Regular, Space Grotesk;
              color: #ffffff;
              line-height: 24px;
              position: relative;
              font-style: normal;
              font-weight: normal;
              &::after {
                display: block;
                content: "";
                width: 8px;
                height: 4px;
                background: #b721ff;
                border-radius: 0px 0px 0px 0px;
                opacity: 1;
                position: absolute;
                left: 10px;
                top: 12px;
                transform: translate(-50%, -50%);
              }
            }
          }
        }
      }
    }
    .item1 {
      .info-container__img {
        background: url("../img/pic_main__1.png") no-repeat center / 100%;
      }
    }
    .item2 {
      .info-container__img {
        background: url("../img/pic_main__2.png") no-repeat center / 100%;
      }
    }
    .item3 {
      .info-container__img {
        background: url("../img/pic_main__3.png") no-repeat center / 100%;
      }
    }
  }
  .guilds {
    background: #10111f;
    width: 100vw;
    overflow: hidden;
    padding: 160px 20px 0;
    box-sizing: border-box;
    .wrapper {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .guilds-header {
      height: auto;
      font-size: 24px;
      font-family: Space Grotesk-Bold, Space Grotesk;
      font-weight: bold;
      color: #ffffff;
      line-height: 34px;
      text-align: center;
      margin-bottom: 12px;
    }
    .guilds-info {
      width: auto;
      height: auto;
      font-size: 12px;
      font-family: Space Grotesk-Regular, Space Grotesk;
      font-weight: 400;
      color: #ffffff;
      line-height: 24px;
      text-align: center;
      margin-bottom: 80px;
    }
    .guilds-bottom {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .box-item__wrapper {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 30px;
        &:nth-child(2) {
          padding: 0 0;
        }
      }
      .box-item {
        width: 100%;
        background: linear-gradient(
          180deg,
          #1a1a2d 0%,
          rgba(26, 26, 45, 0) 100%
        );
        &:nth-child(1) .bg {
          background: url("/img/pic_num_bg__1.png") no-repeat center top;
        }
        &:nth-child(2) .bg {
          background: url("/img/pic_num_bg__2.png") no-repeat center top;
        }
        &:nth-child(3) .bg {
          background: url("/img/pic_num_bg__3.png") no-repeat center top;
        }
        .bg {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          position: relative;
          width: 100%;
          height: 203px;
          background: url("/img/pic_num_bg__1.png") no-repeat center top;
          .img {
            position: absolute;
            top: -50%;
            transform: translate(0, 50%);
            width: 85px;
            height: 104px;
          }
          .img1 {
            background: url("../img/pic_num__1.png");
          }
          .img2 {
            background: url("../img/pic_num__2.png");
          }
          .img3 {
            background: url("../img/pic_num__3.png");
          }
          .num {
            height: 44px;
            font-size: 36px;
            font-family: Space Grotesk-Bold, Space Grotesk;
            font-weight: bold;
            color: #ffffff;
            line-height: 44px;
          }
          .text {
            height: 26px;
            font-size: 18px;
            font-family: Space Grotesk-Medium, Space Grotesk;
            font-weight: 500;
            color: #ffffff;
            line-height: 26px;
          }
        }
      }
    }
  }
  .roadmap {
    background: #101120;
    color: #ffffff;
    .roadmap-wrapper {
      padding-top: 66px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .roadmap-header {
      margin-bottom: 22px;
      font-size: 24px;
      line-height: 24px;
      font-family: Space Grotesk-Bold, Space Grotesk;
      font-weight: bold;
    }
    .roadmap-main {
      display: flex;
      justify-content: center;
      .phase-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;
        .phase-item {
          margin-bottom: 20px;
          width: 100%;
          height: auto;
          display: flex;
          background: linear-gradient(
            94deg,
            #1a1c33 0%,
            rgba(26, 28, 51, 0) 100%
          );

          &:nth-child(2n) {
            margin-left: 0;
          }

          .left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0 20px 0;
            width: 100px;
            height: auto;
            box-sizing: border-box;
            background: #292b43;
            border-radius: 0px 0px 0px 0px;
            opacity: 1;
            background: url("/img/pic_phase-item__bg.png");
            .title {
              font-size: 14px;
              font-family: Space Grotesk-SemiBold, Space Grotesk;
              font-weight: 600;
              color: #ffffff;
              line-height: 22px;
            }
            .num {
              font-size: 12px;
              font-family: Space Grotesk-Bold, Space Grotesk;
              font-weight: bold;
              color: #ffffff;
              line-height: 12px;
            }
          }
          .right {
            display: flex;
            align-items: center;
            flex: 1;
            padding: 0 24px;
            font-size: 12px;
            font-family: Space Grotesk-Medium, Space Grotesk;
            font-weight: 500;
            color: #ffffff;
            line-height: 20px;
          }
        }
      }
    }
  }
  .teams {
    padding: 0 20px;
    box-sizing: border-box;
    .teams-wrapper {
      background: url("/img/pic_teams__bg.png") no-repeat center center / 100%
        100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 40px 0;
      .header {
        font-size: 24px;
        font-family: Space Mono-Bold, Space Mono;
        font-weight: bold;
        color: #ffffff;
        line-height: 24px;
        margin-bottom: 12px;
      }
      .teams-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .teams-item {
          width: 290px;
          font-size: 16px;
          font-family: Space Grotesk-Regular, Space Grotesk;
          font-weight: 400;
          color: #9c9ca3;
          line-height: 24px;
          margin-right: 0;
          display: flex;
          flex-direction: column;
          margin-bottom: 36px;
          .teams-item__img {
            width: 92px;
            height: 92px;
          }

          .teams-item__name {
            margin: 16px 0 8px;

            font-size: 24px;
            font-family: Space Grotesk-SemiBold, Space Grotesk;
            font-weight: 600;
            color: #d4d4de;
            line-height: 32px;
          }
          .teams-item__info {
          }
        }
        .teams-item:nth-child(1) {
          .teams-item__img {
            background: url("../img/pic_team__1.png");
          }
        }
        .teams-item:nth-child(2) {
          .teams-item__img {
            background: url("../img/pic_team__2.png");
          }
        }
        .teams-item:nth-child(3) {
          .teams-item__img {
            background: url("../img/pic_team__3.png");
          }
        }
        .teams-item:nth-child(4) {
          .teams-item__img {
            background: url("../img/pic_team__4.png");
          }
        }
        .teams-item:nth-child(5) {
          .teams-item__img {
            background: url("../img/pic_team__5.png");
          }
        }
        .teams-item:nth-child(6) {
          .teams-item__img {
            background: url("../img/pic_team__6.png");
          }
        }
      }
    }
  }
  .partner {
    .partner-wrapper {
      padding: 20px 20px;
      box-sizing: border-box;
      .partner-title {
        font-size: 24px;
        font-family: Space Grotesk-Bold, Space Grotesk;
        font-weight: bold;
        color: #ffffff;
        line-height: 24px;
        margin-bottom: 20px;
      }
      .partner-header {
        display: flex;
        margin-bottom: 50px;
        .left-img {
          width: 100px;
          height: 100px;
          border-radius: 12px 12px 12px 12px;
          background: url("../img/pic_lita.png") no-repeat center / 100%;
        }
        .right {
          flex: 1;
          padding: 20px 24px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .lita {
            font-size: 20px;
            font-family: Space Grotesk-Bold, Space Grotesk;
            font-weight: bold;
            line-height: 28px;
          }
          .lita-info {
            font-size: 12px;
            font-family: Space Grotesk-Regular, Space Grotesk;
            line-height: 20px;
          }
        }
      }
      .partner-list {
        .partner-item {
          position: relative;
          display: flex;
          align-items: center;
          flex-direction: column;
          width: auto;
          padding: 30px;
          margin-bottom: 8px;
          background: linear-gradient(
            85deg,
            rgba(26, 28, 51, 0.5400000214576721) 0%,
            rgba(26, 28, 51, 0) 100%
          );
          &:nth-child(2) .left {
            width: 261px;
            height: 251px;
            background: url("../img/ic_p_bg__2.png") no-repeat;
          }
          &:nth-child(3) .left {
            width: 242px;
            height: 181px;
            background: url("../img/ic_p_bg__3.png") no-repeat;
          }
          .left {
            width: 180px;
            height: 140px;
            background: url("../img/ic_p_bg__1.png") no-repeat center / 100%;
            margin-right: 0;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            .ic_p_text__1 {
              position: absolute;
              top: 20px;
              left: 20px;
            }
          }
          .right-list {
            .item {
              font-size: 12px;
              font-family: Space Grotesk-Medium, Space Grotesk;
              font-weight: 500;
              color: #ffffff;
              line-height: 20px;
              position: relative;
              &::after {
                content: "";
                display: block;
                width: 8px;
                height: 4px;
                background: #b721ff;
                border-radius: 0px 0px 0px 0px;
                position: absolute;
                top: 8px;
                left: -10px;
                transform: translate(-50%, 0);
              }
            }
          }
        }
      }
    }
  }

  .bottom {
    width: 100%;
    height: auto;
    background: #101120;
    background: url("../img/pic_footer.png") no-repeat bottom right;
    padding: 20px 0;
    .bottom-wrapper {
      height: 100%;
      .bottom-main {
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        .logo-wrapper {
          margin-bottom: 12px;
        }
        .left {
          padding: 20px 0;
          .logo-footer {
            width: 80%;
          }
          .text {
            font-size: 12px;
            font-family: Space Grotesk-Medium, Space Grotesk;
            font-weight: 500;
            color: #c3c8d7;
            line-height: 12px;
          }
        }
        .right {
          display: flex;
          .item {
            margin-left: 16px;
            width: 36px;
            height: 36px;

            &:nth-child(1) {
              background: url("/img/pic_f__1.png") no-repeat center / 100%;
              &:hover {
                cursor: pointer;
                background: url("/img/pic_f_hover__1.png") no-repeat center /
                  100%;
              }
            }
            &:nth-child(2) {
              background: url("/img/pic_f__2.png") no-repeat center / 100%;
              &:hover {
                cursor: pointer;
                background: url("/img/pic_f_hover__2.png") no-repeat center /
                  100%;
              }
            }
            &:nth-child(3) {
              background: url("/img/pic_f__3.png") no-repeat center / 100%;
              &:hover {
                cursor: pointer;
                background: url("/img/pic_f_hover__3.png") no-repeat center /
                  100%;
              }
            }
          }
        }
      }
    }
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
