body {
  background: #000100;
  font-size: 24px;
  font-family: Space Grotesk-Medium, Space Grotesk;
  font-weight: 500;
  color: #ffffff;
  line-height: 40px;
}
.w {
  width: 1280px;
  margin: 0 auto;
}
.header {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 999;
}
a {
  text-decoration: none; /* 去除默认的下划线 */
}
.socials {
  width: 40px;
  height: 40px;
  background: url(/img/socials.png) no-repeat;
  cursor: pointer;
  &:hover {
    background: url(/img/socials-1.png) no-repeat;
  }
}
.socials-2 {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  background: url(/img/socials-2.png) no-repeat;
  cursor: pointer;
  &:hover {
    background: url(/img/socials-3.png) no-repeat;
  }
}
.ic-b-form-btn {
  width: 72px;
  height: 60px;
  background: url(/img/Frame2.png) no-repeat;
  cursor: pointer;
  &:hover {
    background: url(/img/Frame3.png) no-repeat;
  }
}
.c-text-detail {
  color: #14f195;
}
.header-wrapper {
  height: 100px;
  border-radius: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #4a4a4e;
  border-radius: 24px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 30px 0 32px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: url(/img/logo_bg.png) no-repeat #232325;

  .left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    height: 100%;
    .logo {
      width: 163px;
      height: 42px;
    }
    .menu {
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      padding-left: 48px;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      .menu-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        font-family: "Inter";
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.02em;
        color: #ffffff;
        margin-right: 44px;
        cursor: pointer;
        &.active {
          position: relative;
          &::after {
            content: "";
            display: block;
            width: 72px;
            height: 3px;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            bottom: 0;
            background: #14f195;
          }
        }
      }
    }
  }
  .right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.banner-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background: url(/img/ic-b-bg1.png) no-repeat 430px -30px;
  margin-top: 140px;
  .b-left {
    padding-top: 122px;
    .title {
      font-family: "Acumin Pro ExtraCondensed";
      font-style: normal;
      font-weight: 900;
      font-size: 116px;
      line-height: 139px;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      color: #ffffff;
    }
    .text {
      margin-top: 40px;
      padding-left: 24px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 5px;
        left: 0;
        width: 1px;
        height: 89px;
        background: #ffffff;
        opacity: 0.3;
      }
    }

    .form {
      margin-top: 110px;
      .f-tetle {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        margin-bottom: 24px;
      }
      .input-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        height: 60px;
        margin-bottom: 16px;
        .f-input {
          background: #000000;
          border: 1px solid #343543;
          border-radius: 20px;
          padding-left: 24px;
          width: 442px;
          margin-right: 8px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: #6d7083;
        }
        .f-btn {
          cursor: pointer;
        }
      }
    }

    .b-img {
      padding: 96px 0 0 300px;
    }
  }

  .b-right {
    position: relative;
    .ic-b-bg3 {
      position: absolute;
      right: 0;
      top: 0;
    }
    .ic-b-bg2 {
      position: absolute;
      right: -70px;
      top: 60px;
    }
    .ic-b-bg4 {
      position: absolute;
      left: -70px;
      top: 635px;
    }
  }
}

.coming-wrapper {
  background: url(/img/ic-c-bg.png) no-repeat;
  border: 1px solid #4a4a4e;
  border-radius: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;

  .c-left {
    padding: 80px 0 0 108px;
    .top {
      margin-bottom: 24px;
      font-family: "Acumin Pro ExtraCondensed";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: left;
      letter-spacing: 0.8em;
      text-transform: uppercase;
      color: #ffffff;
    }
    .c-text {
      width: 837px;
      margin-bottom: 56px;
      font-family: "Acumin Pro ExtraCondensed";
      font-style: normal;
      font-weight: 900;
      font-size: 80px;
      line-height: 96px;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      color: #ffffff;
      .c-text-detail {
        color: #14f195;
      }
    }
    .c-btn {
      width: 178px;
      height: 60px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -moz-box-orient: horizontal;
      -moz-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 10px;
      background: #14f195;
      border-radius: 20px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
    }
  }
  .c-right {
    overflow: hidden;
  }
}

.join-wrapper {
  margin-top: 240px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 146px;
  .j-left {
    position: relative;
    .co-item {
      display: block;
      width: 400px;
      height: 153px;
    }
    .co-item2 {
      position: absolute;
      top: 128px;
      left: 180px;
    }
    .co-item3 {
      position: absolute;
      top: 250px;
      left: 0;
    }
    .co-item4 {
      position: absolute;
      top: 380px;
      left: 110px;
    }
  }
  .j-right {
    padding-top: 110px;
    .j-r-top {
      font-family: "Acumin Pro ExtraCondensed";
      font-style: normal;
      font-weight: 900;
      font-size: 80px;
      line-height: 96px;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      color: #ffffff;
    }
    .j-text {
      width: 605px;
      margin: 26px 0 80px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      position: relative;
      padding-left: 24px;
      &::after {
        content: "";
        position: absolute;
        top: 5px;
        left: 0;
        width: 1px;
        height: 70px;
        background: #ffffff;
        opacity: 0.3;
      }
    }
    .btn-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      .ic-btn-1 {
        margin-right: 16px;
      }
      .btn {
        cursor: pointer;
      }
    }
  }
}

.the-going {
  padding-top: 200px;
  .the-going-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .t-top {
      width: 400px;
      .t-top-img {
        font-family: "Acumin Pro ExtraCondensed";
        font-style: normal;
        font-weight: 900;
        font-size: 80px;
        line-height: 96px;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #ffffff;
      }
      .t-top-text {
        margin-top: 24px;
        position: relative;
        padding-left: 24px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;

        &::after {
          content: "";
          position: absolute;
          top: 5px;
          left: 0;
          width: 1px;
          height: 100%;
          background: #ffffff;
          opacity: 0.3;
        }
      }
    }
    .t-main {
      margin-top: 280px;
      position: relative;
      width: 743px;

      .t-main-bg {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }

      @keyframes show {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }
      @keyframes hide {
        0% {
          opacity: 1;
        }

        100% {
          opacity: 0;
        }
      }

      .ic-the {
        opacity: 0;
      }
      .ic-the-1 {
        position: absolute;
        top: -197px;
        left: 0;
        display: flex;
        flex-direction: column;
        .ic-the-img {
          margin-bottom: 48px;
        }
        .ic-qi {
          width: 35px;
          height: 55px;
        }
      }
      .ic-the-2 {
        position: absolute;
        top: -197px;
        left: 455px;
        display: flex;
        flex-direction: column;
        .ic-the-img {
          margin-bottom: 20px;
        }
        .ic-qi {
          width: 35px;
          height: 55px;
        }
      }
      .ic-the-3 {
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        right: -194px;
        display: flex;
        .ic-the-img {
          margin-left: 30px;
        }
        .ic-qi {
          width: 35px;
          height: 55px;
        }
      }
      .ic-the-4 {
        position: absolute;
        bottom: -162px;
        right: -64px;
        display: flex;
        flex-direction: column;
        .ic-the-img {
          margin-top: 62px;
        }
        .ic-qi {
          width: 35px;
          height: 55px;
        }
      }

      .ic-the-5 {
        position: absolute;
        bottom: -136px;
        left: 206px;
        display: flex;
        flex-direction: column;
        .ic-the-img {
          margin-top: 62px;
        }
        .ic-qi {
          width: 35px;
          height: 55px;
        }
      }
      .ic-the-6 {
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        left: -214px;
        display: flex;

        .ic-the-img {
          margin-right: 60px;
        }
        .ic-qi {
          width: 35px;
          height: 55px;
        }
      }
      .ic-the-7 {
        position: absolute;
        top: -76px;
        right: -136px;
      }
      .ic-arrow1 {
        position: absolute;
        top: -50px;
        left: 182px;
      }
      .ic-arrow2 {
        position: absolute;
        bottom: -34px;
        left: 378px;
      }
    }
  }
}

.questions-warpper {
  padding-top: 403px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  .left {
    font-family: "Acumin Pro ExtraCondensed";
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 60px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    vertical-align: middle;
    color: #ffffff;
  }
  .right {
    width: 620px;
    .question-item-icon {
      // transform: rotate(180deg);
      background: url(/img/ic-triangle2.png) no-repeat;
      width: 14px;
      height: 9px;
    }
    .question-icon-active {
      background: url(/img/ic-triangle.png) no-repeat;
    }
    .question-item {
      width: 620px;
      background: #232423;
      border: 1px solid #545663;
      border-radius: 20px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      color: #ffffff;
      margin-bottom: 16px;
      cursor: pointer;
      transition: all 0.3s;
      overflow: hidden;
      height: 72px;
      box-sizing: border-box;

      &:hover {
        background: #545663;
      }
      .question-item-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 72px;
        padding: 0 24px;
      }
      .question-item-title-text {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .question-item-main {
        padding: 24px;
      }
      &.question-item-active {
        background: #14f195;
        color: #000000;
        .question-item-title {
          .question-item-title-text {
            position: relative;
            width: 100%;
            height: 100%;
            &::after {
              position: absolute;
              bottom: 0;
              left: 0;
              content: "";
              width: 100%;
              height: 1px;
              opacity: 0.2;
              background: #000000;
            }
          }
        }
      }
    }
  }
}

.contact-wrapper {
  margin-top: 240px;
  background: #14f195;
  border-radius: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  height: 292px;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 212px;
    left: 50%;
    top: 40px;
    opacity: 0.3;
    border-left: 1px solid #000000;
  }
  .con-left {
    padding: 40px;

    .con-left-img {
      margin-bottom: 40px;
      height: 84px;
      font-family: "Acumin Pro ExtraCondensed";
      font-style: normal;
      font-weight: 900;
      font-size: 120px;
      line-height: 144px;
      letter-spacing: -0.02em;
      text-transform: uppercase;

      color: #000000;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .con-form {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      .con-form-input {
        background: rgba(0, 0, 0, 0.2);
        border: none;
        border-radius: 20px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #000000;
        padding-left: 28px;
        width: 360px;
        height: 60px;
        margin-right: 8px;
      }
      input::input-placeholder {
        color: #000000;
      }

      /* WebKit browsers */
      ::-webkit-input-placeholder {
        color: #000000;
      }
      /* Mozilla Firefox 4 to 18 */
      :-moz-placeholder {
        color: #000000;
        opacity: 1;
      }
      /* Mozilla Firefox 19+ */
      ::-moz-placeholder {
        color: #000000;
        opacity: 1;
      }
      /* Internet Explorer 10+ */
      :-ms-input-placeholder {
        color: #000000;
      }
    }
  }
  .con-right {
    padding: 40px;
    padding-right: 286px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: url(/img/ic-contact-5.png) no-repeat right;
    .b-item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      img {
        margin-left: 24px;
      }
    }
  }
}

.bottom-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 118px;
  .bottom-main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    .bottom-list2 {
      margin-left: 142px;
    }
    .bottom-item {
      margin-bottom: 16px;
      cursor: pointer;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;
      opacity: 0.45;
      a {
        color: #ffffff;
      }
      &:hover {
        opacity: 1;
      }
    }
    .socials-img {
      margin-left: 125px;
      display: flex;
    }
  }
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.45;
  padding: 30px 0;
  border-top: 1px solid #423e50;
  .f-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    .text {
      margin-left: 32px;
    }
  }
}

/* 在小于1200像素的屏幕里,这里的样式才生效 */
@media only screen and (max-width: 1200px) {
}

/* 在小于991像素之间的屏幕里,这里的样式才生效 */
@media (max-width: 991px) {
}

/* 在小于768像素的屏幕里,这里的样式才生效 */
@media only screen and (max-width: 767px) {
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
